
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dolphin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../assets/vendors/iconfonts/puse-icons-feather/feather.css">
    <link rel="stylesheet" href="../assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../assets/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../assets/css/style2.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/assets/images/icon-s.jpg" />

    <style>
        #myLoader {
            z-index: 1000;
            display: none;
            padding-top: 100px;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }
    </style>

</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
         

            @RenderBody()
            <!-- content-wrapper ends -->


            <div class="col-md-12 col-sm-6 grid-margin stretch-card" id="myLoader" style="minWidth:100%;max-width:100%;">
             
                                            @*<div class="flip-square-loader mx-auto" style="margin-top:170px;"></div>*@
                <div class="bar-loader" style="margin-top:170px;">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                                      
                                    </div>
                    </div>
                    <!-- page-body-wrapper ends -->
                </div>
                <!-- container-scroller -->
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="../assets/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="../assets/js/off-canvas.js"></script>
    <script src="../assets/js/hoverable-collapse.js"></script>
    <script src="../assets/js/misc.js"></script>
    <script src="../assets/js/settings.js"></script>
    <script src="../assets/js/todolist.js"></script>
    <!-- endinject -->

                <script type="text/javascript">
                              $("#validate-form").submit(function () {

                                  $("#myLoader").show();
                              })

                              $("#PageLoad").click(function () {

                                  $("#myLoader").show();
                              })
                </script>

            </body>

            <!-- Mirrored from www.urbanui.com/pearl-admin/pages/samples/login-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 22 Apr 2018 19:57:06 GMT -->
            </html>
